<div class="card card-item card-{{ type.name }}" style="border-left:5px solid {{ type.color }} !important;" data-description="{{ description }}">	
	<div class="card-block">
		<h4 class="card-title"><a href="#" class="card-link create-item c-1 " data-type="{{ type.name }}" data-name="{{ name }}" data-ref="e{{id}}"><div class="text-muted sm">e{{ id }}.</div> <strong>{{ name }}</strong> </a>
			<div class="text-muted sm ">{{ type.name }}</div></h4>
	</div>
</div>