<div class="card card-item card-item-{{ type.name }}" data-name="{{ name }}" data-ref="{{ ref }}" data-description="{{ description }}" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ description }}" data-trigger="hover">	
	<div class="card-block">
		<h4 class="card-title"><a href="http://rodbox.fr/app_dev.php/bi/item/{{ id }}/edit" class="card-link create-item c-1 btn-modal" data-modal="modalSm" data-type="{{ type.name }}" title="item : {{ name }} - {{type.name}}" data-name="{{ name }}" data-ref="e{{id}}" data-itemhook="{{ type.hook }}" 
			data-itemallowintputs="{{ type.allowInputs }}"
			data-itemallowoutputs="{{ type.allowOutputs }}"
			>
			<div class="text-muted sm">e{{ id }}.</div><i class="icon-type" style="position: absolute; right: 0.6rem;font-size: 1.5rem"></i> <strong>{{ name }}</strong> 
			<div class="text-muted sm ">{{ type.name }}</div></a></h4>
	</div>
</div>