<div class="p-c type-{{type}}">
	<table class="table table-sm">
		<thead>
			<tr>
				<th colspan="2"><i class="icon-type"></i> <strong>{{name}}</strong> <span class="text-muted">{{ref}}</span> <span class="text-muted pull-right" style="margin-right:1rem;">{{type}}</span> </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Description</td>
				<td><strong>{{description}}</strong></td>
			</tr>
			<tr>
				<td>Multiple</td>
				<td><strong>{{multiple}}</strong></td>
			</tr>
			<tr>
				<td>Return</td>
				<td><strong>{{return}}</strong></td>
			</tr>
		</tbody>
	</table>
</div>