<a href="#" class = "list-group-item bolt-start-choice choice-show btn-bolt-suggest"  data-index = "{{item.ref}}" data-data = "{{item.ref}}" data-src="{{item.id}}" data-roadinit="{{item.roads}}" data-role="{{item.roles[0]}}" data-val="{{item.id}}" data-key="{{item.firstname}} {{item.lastname}}" data-start="true" data-val="{{val}}">
	
	
	<h4 class="list-group-item-heading" style="vertical-align:middle">
		<img src="http://cdn.rodbox.fr/users/profiles/user.svg" style="width:25%; margin-right:0.5rem;" alt="{{item.firstname}} {{item.lastname}}"> 
		{{item.firstname}} {{item.lastname}}
		<p class="text-user-sub helper-text">
		{{item.email}}
		</p>
	</h4>
	
	</div>
</a>