<div class="menu pull-left">
	<a href="{{path('bolt_projects_new') }}" class="btn btn-default btn-modal"  title="{{ 'route.bolt_projects_new.title' | trans }}"><i class="fa fa-plus"></i></a>
	<a href="{{path('bolt_load') }}" id="bolt-projects-open" class="btn btn-default autoclick"  title="{{ 'route.bolt_projects_new.title' | trans }}"><i class="fa fa-folder-o"></i></a>
   	<button id="delete_selected_button" role="button" class="btn btn-danger "><i class="fa fa-remove"></i></button>

	<div class="input-group" style="width:150px; display:inline-flex">
		<input type="text" class="form-control" name="name" value="{{ project.name | default('default') }}">
  		<span class="input-group-btn">
			<a href="{{path('bolt_save') }}" id="bolt-projects-save" class="btn btn-default"  title="{{ 'route.bolt_projects_save.title' | trans }}"><i class="fa fa-floppy-o"></i></a>
	    </span>
    </div>

</div>

<!-- BEGIN NAVTABS : title  -->
<ul class="nav nav-tabs pull-right" id="project-setting">
    <li class="nav-item ">
        <a class="nav-link active" data-toggle="tab" href="#project-setting-tab-1" aria-expanded="true">Project</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#project-setting-tab-2" aria-expanded="false"><i class="fa fa-cog"></i> </a>
    </li>
   
</ul>
<!-- END NAVTABS : title  -->